a {
    text-decoration: none;
    color: #ff533d;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #ab987a;
    background-color: #0f1626;
}

.main {
    margin-left: 45px;
}

.main #name {
    font-size: 60px;
    height: 10%;
    margin-top: 50px;
}

.main #name p {
    margin: 0;
}

.main #cs {
    height: 10%;
}

.main #lit {
    font-size: 35px;
    height: 15%;
    margin-left: -10px;
}

.main #lit a:hover {
    text-decoration: none;
}

.main #info {
    height: 20%;
    font-size: 20px;
}